*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color:  #14213d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
}
.Main{
    background-color: skyblue;
    height: 550px;
    width: 900px;
    border: 5px solid orange;
    border-radius: 5px;
}
.Main h1{
    background-color: black;
    color: orange;
    height: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
   background-color: orange;
   cursor: pointer;
  
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.Choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 2.5rem;
}
.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    gap: 3rem;
}
#userScore, #compScore{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
#user, #comp{
    font-size: 20px;
    font-weight: bold;
}
.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    margin-top: 2rem;
    height: 3rem
}
#msgPick{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    background-color: black;
    padding: 8px;
    border-radius: 5px;

}
